body{
	font-family: 'Open Sans', serif;
	color: #333;
	margin: 0;
}

h1{
	font-size: 4em;
	line-height: 1.4em;
}

h2 {
	font-size: 3em;
	line-height: 1.4em;
	margin: 1em 0;
}

#pitch {
	background-color: #A4D5D5;
	padding: 50px 0;
	color: #fff;
}

#pitch h1 {
	margin: 0 0 1em 0;
}

#pitch img {
	border-radius: 300px; 
	margin: 50px 0px; 
	display: block;
}

#pitch p {
	font-size: 2em;
	line-height: 1.4em;
	margin-bottom: 1em;
}

#services {
	background-color: #DDD1C2;
	padding: 50px 0;
}

#location {
	background-color: #FFFCF6;
    height: 500px;
}

#gallery {
	background-color: #B7ECFF; 
}

#gallery img {
	margin-bottom: 20px;
}

#contact {
	background-color: #A4D5D5;
	text-align: center; 
	padding: 100px 0;
}

#contact .btn {
	margin-bottom: 20px;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-top: 30px;
    height: 0;
}

.Flexible-container #map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}

	[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
		width: 90%;
		margin-left: 5%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 5% !important;
	}
}
